source/consultas.c
source/bibliotecas/funcoes.h
source/bibliotecas/funcoes.c
source/consultas
TasksZone.Identifier
README.mdZone.Identifier
.gitignoreZone.Identifier
*.Identifier
*.Identifier
.idea/editor.xmlZone.Identifier
.idea/runConfigurations/Projeto.xmlZone.Identifier
source/lib/tools/utilitarios.cZone.Identifier
source/bin/dados_clientes.binZone.Identifier
source/src/funcs/reagendar.cZone.Identifier
source/src/funcs/cadastrar.cZone.Identifier
source/lib/tools/consultas.cZone.Identifier
source/src/funcs/medOUdia.cZone.Identifier
source/src/funcs/cancelar.cZone.Identifier
source/src/funcs/cancelar.cZone.Identifier
source/lib/tools/paciente.cZone.Identifier
consultas-medicas-mainC.rarZone.Identifier
.idea/consultas-medicas.imlZone.Identifier
source/src/funcs/agendar.cZone.Identifier
source/src/funcs/buscar.cZone.Identifier
source/lib/utilitarios.hZone.Identifier
source/lib/tools/menu.cZone.Identifier
source/bin/cadastro.binZone.Identifier
source/lib/consultas.hZone.Identifier
source/lib/paciente.hZone.Identifier
.vscode/settings.jsonZone.Identifier
source/lib/structs.hZone.Identifier
.idea/workspace.xmlZone.Identifier
.idea/encodings.xmlZone.Identifier
source/src/main.cZone.Identifier
source/src/main.hZone.Identifier
source/lib/menu.hZone.Identifier
relatorio_teste.cZone.Identifier
.idea/modules.xmlZone.Identifier
.idea/editor.xmlZone.Identifier
.idea/.gitignoreZone.Identifier
CMakeLists.txtZone.Identifier
.idea/misc.xmlZone.Identifier
.idea/vcs.xmlZone.Identifier
login_testeZone.Identifier
.gitignoreZone.Identifier
*.Identifier
README.mdZone.Identifier
TasksZone.Identifier

*Zone.Identifier
